data/


# Ignore daily CRSP return data
daily_crsp.csv
data/*.csv

# Also ignore any zipped raw versions or partials
*.zip
*.csv.part
*.parquet.part

# Ignore temp and cache files
*.pyc
__pycache__/
.DS_Store
